body {
    background-image: url('file:///Users/macos/Desktop/WEBSITE%2002/%20-2.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#clock {
    font-family: Times New Roman;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: hsl(0, 0%, 100%, 0.1);
    width: 100%;
}
